@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #4f260b;
  /* font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif; */
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  scroll-behavior: smooth;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.3s;
}

a:hover {
  opacity: 0.8;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

body {
  background: #e8d9bf;
}

header {
  position: relative;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7% 0 3%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.pc_nav ul li {
  color: #fff;
  width: 105px;
  text-align: center;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.pc_nav ul {
  display: flex;
  gap: 54px;
}

.header_logo {
  width: 226px;
}

.message {
  max-width: 1000px;
  margin: 102px auto 93px;
  text-align: center;
  padding: 10px;
}
.text1 {
  font-size: 30px;
  margin-bottom: 46px;
}
.text2 {
  font-size: 82px;
  margin-bottom: 20px;
  line-height: 1.17;
  font-feature-settings: "palt";
}

.sp_br {
  display: none;
}

.text3 {
  font-size: 23px;
  line-height: 1.65;
  font-feature-settings: "palt";
}

.about_us {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.about_us_photo {
  width: 50%;
  border-bottom-right-radius: 82px;
}

.about_us_text {
  width: 41%;
  margin-left: 56px;
}

.about_us_logo {
  width: 272px;
  margin-top: 56px;
}
.about_us_text1 {
  font-size: 44px;
  line-height: 1.39;
  margin-top: 49px;
  font-feature-settings: "palt";
}
.about_us_text2 {
  font-size: 16px;
  margin-top: 21px;
  font-feature-settings: "palt";
  line-height: 1.62;
}

.menu {
  max-width: 1000px;
  margin: 89px auto 40px;
  padding: 10px;
}

.menu_image {
  text-align: center;
}

.menu_logo {
  width: 151px;
  margin-bottom: 39px;
}

.menu_contents {
  display: flex;
  justify-content: space-between;
}

.menu_image {
  position: relative;
}

.menu_drink,
.menu_food,
.menu_sweet {
  width: 30%;
}
.menu_photo {
  border-top-right-radius: 42px;
}

.menu_label {
  position: absolute;
  top: 95%;
  left: 4%;
  font-size: 38px;
  color: #d30202;
}

.menu_text {
  padding-top: 43px;
  font-size: 17px;
}

.gallery {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
}

.gallery_logo {
  width: 245px;
  margin: 0 auto 14px auto;
}

.gallery_photo {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-bottom: 58px;
}

.event {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.event_logo {
  width: 174px;
  margin: 0 auto 32px auto;
}

.event_news {
  background: #fff;
  border: #4f260b solid 4px;
}

.event_list {
  padding-top: 38px;
  padding-bottom: 38px;
  margin: 0 auto;
  width: fit-content;
}

.event_list1 {
  margin: 0 auto;
  align-items: center;
  font-size: 23px;
  display: flex;
  line-height: 1.96;
}

.event_text {
  margin-left: 55px;
  border-bottom: #4f260b solid 1px;
}

.access {
  max-width: 1920px;
  margin: 0 auto;
}

.access_imege {
  text-align: center;
  margin: 68px auto 37px auto;
}

.access_logo {
  width: 214px;
}

iframe {
  display: block;
  width: 100%;
}

.footer {
  height: 393px;
  background: #fff;
  padding: 10px;
}

.footer_content {
  max-width: 1000px;
  margin: 0 auto;
}

.footer_imege {
  display: flex;
}

.footer_logo {
  width: 227px;
  margin-top: 75px;
}

.footer_address {
  align-items: center;
  font-size: 20px;
  margin-top: 74px;
  margin-left: 42px;
  margin-bottom: 74px;
}

.footer_address p {
  line-height: 1.95;
}
.footer_copyright {
  text-align: center;
}

.page_top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 125px;
}
.sp_nav {
  display: none;
}
@media screen and (max-width: 1100px) {
  .pc_nav {
    display: none;
  }
  .sp_btn {
    display: block;
    height: 23px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 2;
  }
  .sp_btn span {
    display: block;
    width: 33px;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    position: relative;
    top: 10px;
    transition: 0.3s;
  }
  .sp_btn span::before,
  .sp_btn span::after {
    content: "";
    display: block;
    width: 33px;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    transition: 0.3s;
  }
  .sp_btn span::before {
    bottom: 10px;
  }
  .sp_btn span::after {
    top: 10px;
  }
  .sp_btn.open span {
    background-color: transparent;
  }
  .sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  .sp_btn.open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }

  .sp_nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .sp_nav ul li {
    padding: 20px;
    color: #fff;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
      "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  }

  .text1 {
    font-size: 26px;
  }

  .text2 {
    font-size: 70px;
  }

  .text3 {
    font-size: 19px;
  }
  .about_us_logo {
    width: 60%;
    margin-top: 0;
  }

  .about_us_text1 {
    font-size: 37px;
    margin-bottom: 20px;
  }

  .about_us_text2 {
    font-size: 13px;
  }
}
@media screen and (max-width: 767px) {
  .text1 {
    font-size: 17px;
  }
  .text2 {
    font-size: 38px;
    line-height: 1.15;
  }
  .text3 {
    font-size: 16px;
    line-height: 1.87;
  }

  .sp_br {
    display: inline;
  }
}
